name: 'Update Manifest'

on:
  schedule:
    - cron: '0 0 * * *'
  workflow_dispatch:

jobs:
  update:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061 # v4.2.0
        with:
          version: 10
      - uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6.1.0
        with:
          node-version: 22
          cache: pnpm
      - run: pnpm install
      - run: pnpm update-manifest
        env:
          GITHUB_TOKEN: ${{ github.token }}
      - uses: peter-evans/create-pull-request@98357b18bf14b5342f975ff684046ec3b2a07725 # v8.0.0
        with:
          branch: feat/update-manifest
          commit-message: 'feat: update manifest'
          title: 'Update Manifest'
          body: |
            See [releases](https://github.com/mackerelio/mkr/releases)
          delete-branch: true
