name: 'Update Manifest'

on:
  schedule:
    - cron: '0 0 * * *'
  workflow_dispatch:

jobs:
  update:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
      - uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061 # v4.2.0
        with:
          version: 10
      - uses: actions/setup-node@a0853c24544627f65ddf259abe73b1d18a591444 # v5.0.0
        with:
          node-version: 22
          cache: pnpm
      - run: pnpm install
      - run: pnpm update-manifest
        env:
          GITHUB_TOKEN: ${{ github.token }}
      - uses: peter-evans/create-pull-request@22a9089034f40e5a961c8808d113e2c98fb63676 # v7.0.11
        with:
          branch: feat/update-manifest
          commit-message: 'feat: update manifest'
          title: 'Update Manifest'
          body: |
            See [releases](https://github.com/mackerelio/mkr/releases)
          delete-branch: true
